---
layout: default
---

<article class="knowledge-page person-page">
  <p class="eyebrow">Person</p>
  <h1>{{ page.title }}</h1>
  {% if page.summary %}
    <p class="lede">{{ page.summary }}</p>
  {% endif %}
  <div class="meta">
    {% if page.github %}<a href="https://github.com/{{ page.github }}">GitHub</a>{% endif %}
    {% if page.linkedin %}<a href="https://www.linkedin.com/in/{{ page.linkedin }}">LinkedIn</a>{% endif %}
    {% if page.twitter %}<a href="https://twitter.com/{{ page.twitter }}">Twitter</a>{% endif %}
    {% if page.web %}
      {% if page.web contains '://' %}
        <a href="{{ page.web }}">Website</a>
      {% else %}
        <a href="https://{{ page.web }}">Website</a>
      {% endif %}
    {% endif %}
  </div>
  {{ content }}
</article>
